* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#menu_facebook {
    background-color: #3333331a;
    display: flex;
}

#header {
    width: 33%;
    display: flex;
    padding-top: 5px;
}

#header input {
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 5px;
    margin-bottom: 5px;
    top: 10px;
}

.icon_header {
    margin: 3px;
}

#bod {
    display: flex;
    width: 33%;
}

.icon_center {
    border-radius: 8px;
    padding: 7px;
    width: 20%;
    text-align: center;
}

.icon_center:hover {
    background-color: #CDCDCD;
    margin: 1px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 1px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#foot {
    display: flex;
    width: 33%;

}

.icon_right {
    background-color: darkgray;
    text-align: center;
    border-radius: 25px;
    padding: 7px;
    margin-left: 2px;
    transform: translate(800%);
}

#block2 {
    background-color: gainsboro;
    width: 100%;
    height: 605px;
}

.col-4 {
    background-color: white;
    height: 100%;
}

.col-5 {
    background-color: whitesmoke;
    height: 100%;
}

.col-3 {
    background-color: white;
    height: 100%;
}

ul li div {
    float: left;
    padding: 5px;
}

li {
    list-style: none;
    width: 100%;
    height: 40px;
    margin-top: 15px;
}

li:hover {
    background-color: gainsboro;
    padding: 1px;
    width: 100%;
}

a {
    text-decoration: none;
}


.header-left {
    width: 90%;
    height: 100px;
    margin-left: 25px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
.header-left input {
    width: 100%;
    height: 30px;
    border: none;
    background-color: aliceblue;
    border-radius: 10px;
}

.emotion {
    display: flex;
    width: 100%;
    height: 70px;
    text-align: center;

}

.new_feed{
    height: 100px;
    width: 100%;
    display: flex;

}



